<%- include('../include/_header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('../include/_adminNav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d9.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd ;"
                                        href="/admin/panel/dashboard">DashBoard</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/panel/category" class="text-decoration-none"
                                        style="color: #cdcdcd;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/products" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/user_management" class="text-decoration-none"
                                    style="color: #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/orders" class="text-decoration-none"
                                    style="color: #cdcdcd;">Order</a></span>
                            </li>
                            <li class="sideBarlist fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/coupons" class="text-decoration-none"
                                    style="color: white;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a id="logout" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <!-- SEARCH -->
                            <div class="conatiner saleTop bg-white d-flex align-items-center mb-3">
                                <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                    id="product">
                                    <h6 class="p-3 ps-4 ">Coupons</h6>
                                </div>
                            </div>
                            <!-- OTHER PART -->
                            <div class=" container p-0 m-0">
                                <div class="container p-0 bg-white p_addingWrapper">
                                    <form method="post" id="formCoupon">
                                        <div class="container p-3 ps-5 pb-5">
                                            <h6 class="py-3 fw-bold" style="font-size: 20px">New Coupons</h6>
                                            <div class="pb-3">
                                                <span class="text-success "><%= locals.suMessage?suMessage:" " %></span>
                                            <span class="text-danger "><%= locals.message?message:" " %></span>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 d-flex flex-column inputeWrapper">
                                                    <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Coupon Name*</span>
                                                    <span class="text-dark fw-bold"></span>
                                                    <input class="p-2" type="text" name="coupon_name" id="couponName" required>
                                                    <p class="err"></p>
                                                </div>
                                                <div class="col-md-6 d-flex flex-column inputeWrapper">
                                                    <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Amount*</span>
                                                    <span class="text-dark fw-bold"></span>
                                                    <input class="p-2" type="text" name="coupon_value" id="couponValue" required>
                                                    <p class="err"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!-- <div class="col-md-4 d-flex flex-column inputeWrapper">
                                                    <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Max Value*</span>
                                                    <span class="text-dark fw-bold"></span>
                                                    <input class="p-2" type="text" name="maxValue" id="maxValue" required>
                                                </div>
                                                <div class="col-md-4 d-flex flex-column inputeWrapper">
                                                    <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Min Value*</span>
                                                    <span class="text-dark fw-bold"></span>
                                                    <input class="p-2" type="text" name="minValue" id="minValue" required>
                                                </div> -->
                                                <div class="col-md-4 d-flex flex-column inputeWrapper">
                                                    <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Expiry Date*</span>
                                                    <span class="text-dark fw-bold"></span>
                                                    <input class="p-2" type="date" name="expiry_date" id="expiryDate"
                                                        style="color: #8e8e8e;" required>
                                                        <p class="err"></p>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="container ms-4 pb-4 pb-2">
                                            <button class="btn btn-success addbutton mb-3" type="submit">
                                                Submit
                                            </button>
                                            <h6 id="msg"></h6>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script type="module" src="/js/admin/addCoupon.mjs"></script>
    <%- include('../include/_adminFooter.ejs')%>