<%- include('../include/_header.ejs') %>
<% const sub_order = order.sub_orders %>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%-include('../include/navBar.ejs') %>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d9.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd;"
                                        href="/admin/Dashboard">DashBoard</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/catagory" class="text-decoration-none"
                                        style="color: #cdcdcd;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/products" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/user_management" class="text-decoration-none"
                                    style="color:  #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="sideBarlist   p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/orders" class="text-decoration-none"
                                    style="color: white;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/panel/coupons" class="text-decoration-none" style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="admin/logOut" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="container col-lg-9 col-md-9 col-12 p-0 m-0">
                        <div class="container-fluid bg-white profile_Right pb-4">
                            <div class="container-fluid">
                                <div class="container pt-3">
                                    <!-- Title -->
                                    <div class="d-flex justify-content-between align-items-center py-3">
                                        <h3 class="h5 mb-0"><span class="fw-bold">ORDER ID</span> : <span style="font-size: 14px; color: #959595;">#<%=sub_order._id%></span></h3>
                                    </div>
                                    <!-- Main content -->
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <!-- Details -->
                                            <div class="mb-4 profile_info" style="box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);">
                                                <div class="card-body">
                                                    <div class="mt-2 d-flex justify-content-between">
                                                        <div class="mx-2 mb-3" >
                                                            <span class="me-3 fw-bold" style="font-size: 13px;color: #959595;">
                                                                <span>Order Date :</span> <%= orderedOn %>
                                                            </span>
                                                            <span class="me-3 fw-bold" style="font-size: 13px;color: #959595;">
                                                                <span>Delivery Date :</span> <%= deliveryDate %>
                                                            </span>
                                                            <span id="orderStatus">
                                                            <% if (sub_order.isCanceled === false) { %>
                                                                <% if (sub_order.order_status == 'Deliverd') { %>
                                                                    <span class="badge rounded-pill bg-success">Deliverd</span>
                                                                <% } else if (sub_order.order_status == 'Processing') { %>
                                                                    <span class="badge rounded-pill bg-warning">Processing</span>
                                                                <% } else if (sub_order.order_status == 'Return Accepted') { %>
                                                                    <span class="badge rounded-pill bg-success">Return Accepted</span>
                                                                <% } else if(sub_order.order_status == 'requested for cancel'){ %>
                                                                    <span class="badge rounded-pill bg-warning">Order Cancel Requested</span>
                                                                <% } else { %>
                                                                    <span class="badge rounded-pill bg-info"><%=sub_order.order_status%></span>
                                                                <% } %>
                                                            <% } else { %>
                                                                    <span class="badge rounded-pill bg-danger">Canceled</span>
                                                            <% } %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table class="table table-borderless mb-4">
                                                        <tbody >
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0" ">
                                                                            <img src="/public/img/<%=order.product_images[0]%>"
                                                                                alt="" width="35" class="img-fluid"  >
                                                                        </div>
                                                                        <div class="flex-lg-grow-1 ms-3">
                                                                            <h6 class="small mb-0"  style="font-size: 14px;">
                                                                                <a href="#"class="text-reset text-decoration-none">
                                                                                    <%=order.product_name%>
                                                                                </a>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td  style="font-size: 13px;"><%=sub_order.quantity%></td>
                                                                <td class="text-end fw-bold"  style="font-size: 14px;">₹ <%=sub_order.total_price / sub_order.quantity%></td>
                                                                
                                                            </tr>
                                                        </tbody>
                                                            <tfoot class="mt-3" style="border-radius: 10px;">
                                                                <tr>
                                                                    <td colspan="2" class="fw-bold" style="color: #959595;">Subtotal</td>
                                                                    <td class="text-end"style="color: #959595;">₹ <%= sub_order.total_price %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" class="fw-bold" style="color: #959595;">Shipping</td>
                                                                    <td class="text-end text-success fw-bold" style="color: green;">Free</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" class="fw-bold" style="color: #959595;">Payment Method</td>
                                                                    <td class="text-end fw-bold" style="color: #959595;"><%=order.payment_method%></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" class="fw-bold" style="color: #959595;">Discount</td>
                                                                    <td class="text-danger text-end" style="opacity: 80%;">₹<%= sub_order.offer_price %> </td>
                                                                </tr>
                                                                <tr class="fw-bold">
                                                                    <td colspan="2">TOTAL</td>
                                                                    <td class="text-end">₹ <%= sub_order.total_price - sub_order.offer_price %></td>
                                                                </tr>
                                                            </tfoot>   
                                                    </table>
                                                </div>
                                            </div>
                                         
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="profile_info mb-3">
                                                <!-- Shipping information -->
                                                <div class="card-body">
                                                    <h6 class="fw-bold ">Status Updation</h6>
                                                    <div class="width-100 my-3">
                                                        <select name="status" id="status__id" style="width: 100%; background-color: white;">
                                                            <option selected value="<%=sub_order.order_status %>"><%= sub_order.order_status %></option>
                                                            <% if (sub_order.order_status !== "Processing") {%> <option value="Processing">Processing</option> <%}%>
                                                            <% if (sub_order.order_status !== "Shipped") {%> <option value="Shipped">Shipped</option> <%}%>
                                                            <% if (sub_order.order_status !== "Out For Delivery") {%> <option value="Out For Delivery">Out For Delivery</option> <%}%>
                                                            <% if (sub_order.order_status !== "Deliverd") {%> <option value="Deliverd">Deliverd</option> <%}%>
                                                            <% if (sub_order.order_status !== "Canceled") {%> <option value="Canceled">Canceled</option> <%}%>
                                                            <% if (sub_order.order_status !== "Return Accepted") {%> <option value="Return Accepted">Return Accepted</option> <%}%>
                                                            <% if (sub_order.order_status !== "Requested for return") {%> <option value="Requested for return">Requested for return</option> <%}%>
                                                            <% if (sub_order.order_status !== "requested for cancel") {%> <option value="requested for cancel">requested for cancel</option> <%}%>
                                                        </select>
                                                    </div>
                                                    <span class="text text-success fw-bold" id="msg"></span>
                                                </div>
                                            </div>
                                            <div class="profile_info mb-3">
                                                <!-- Shipping information -->
                                                <div class="card-body ">
                                                    <h6 class="fw-bold pt-2 pb-2">User Information</h6>
                                                    <div class="fw-bold" style="font-size: 14px; opacity: 70%;">User Name : <span><%=order.username%></span></div>
                                                    <div class="fw-bold" style="font-size: 14px; opacity: 70%;">Payment Method : <span class="badge bg-success rounded-pill"><%=order.payment_method%></span></div>
                                                    <hr>
                                                    <h6 class="fw-bold" style="font-size: 14px; opacity: 70%;">Address :</h6>
                                                    <address style="font-size: 14px; opacity: 70%;">
                                                        <label class="fw-bold" style="font-size: 14px; opacity: 70%;"><%=order.address.name%></label><br>
                                                        <%=order.address.house_name%>, <%=order.address.street%><br>
                                                        <%=order.address.city%>,
                                                        Ph : <%=order.address.phone%><br>
                                                        Pin : <%=order.address.pincode%>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <%- include('../include/confirmDialog.ejs') %>
    <script type="module" src="/js/admin/orderDetails.mjs"></script>
    <%- include('../include/_footer.ejs') %>