<%- include('../include/_header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../include/navbar.ejs') %>
            <div class="container">
                <div id="checkout-content-div"  class="row p-4 mb-4">
                    <div class="container col-md-9 py-3 p-0 m-0">
                        <div class="container-fluid bg-white profile_Right p-4">
                            <div class="row px-3">
                                <div class="py-3 pt-4">
                                    <h5 class=" fw-bold">Checkout</h5>
                                </div>
                                <% let total = 0 %>
                                <% for(let product of data){ %>
                                    <div class="checkout-item d-flex align-items-center p-3 justify-content-between p-2 gap-2 mt-3">
                                        <img class="checkout-item-img" width="100px" src="/public/img/<%= product.product_images[0] %>" alt="">
                                            <div class="checkout-item-name"><%= product.product_name %></div>
                                            <div class="checout-item">Rs <%= product.product_price %></div>
                                            <div class="cart-item-color" style='background-color: <%= product.color %>;'></div>
                                            <div><%= product.size %></div>
                                            <div><%= product.quantity %></div>
                                            <div>Rs <%= product.quantity * product.product_price %> </div>
                                            <% total += product.quantity * product.product_price %>
                                            <button type="button" class="del-btn btn btn-danger">x</button>
                                    </div>
                                <%}%>




                            <!-- <div class="row f-flex align-items-end">
                                <div class="p-2 col-md-6">
                                    <span class="fw-semi-bold">Total </span> <span id="total-price"> Rs <%= total %></span>
                                </div>
                                <div class="p-2 col-md-6 billing_button">
                                    <button id="proceed-btn" class="btn btn-danger p-2" type="submit">
                                       proceed
                                    </button>
                                    <div id="msg-display"></div>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-3 col-md-3 col-12 p-3 m-0">
                        <div class="container bg-white profile_left p-5">
                            <div class="mb-4 d-flex gap-3 flex-column payment-method-container">
                                <div data-method="COD" class="p-2 selected-payment payment-method">Cash on delivery</div>
                                <div data-method="Razorpay" class="p-2 payment-method">Razorpay</div>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <div  id="curr-address" class="mb-3"></div>
                                <button id="select-address-btn" class="btn btn-outline-danger">select address</button>
                            </div>
                        </div>

                        <div class="container mt-3 d-flex justify-content-between">
                            <h6>Wallet <i class="fa-solid fa-wallet"></i></h6>
                            <p>Rs <span id="wallet-dis"><%= wallet %></span></p>
                        </div>

                        <div class="container p-2 billing_coupon gap-2 col-lg-12 col-12 d-flex">
                            <input id="wallet-inp" type="text" name="wallet" placeholder="Use wallet money">
                            <button id="wallet-use-btn" class="btn btn-danger p-2"  type="button">use</button>
                        </div>
                        <div class="wallet-msg"></div>



                        <div class="d-flex flex-column col-lg-7 p-0"> 
                            <div class="container p-2 billing_coupon gap-2 col-lg-12 col-12 d-flex">
                                <input type="text" name="coupon" id="apply-coupon" placeholder="Coupon Code">
                                <button class="btn btn-danger p-2" id="couponButton" type="button">Apply</button>
                                
                            </div>
                            <span id="coupon-apply-msg"></span>
                            <span class="px-2 p-1 col-lg-12 col-12" style="font-size: 14px; color: #9a9a9a;">
                                Available Coupons?
                                <a href="#" id="openModalBtn" class="text-decoration-none text-danger">
                                    Click Here
                                </a>
                            </span>





                            <dialog  id="coupon-dialog">
                                <!-- <div class="modal-content"> -->
                                    <div class="modalWrapper">
                                        <div class="modelWrapper2">
                                            <span class="close">&times;</span>
                                            <h4 class="mb-4 text-dark fw-bold ms-3">Select your Coupon</h4>
                                            <ul  id="couponList" style="list-style: none; color: #9a9a9a;"></ul>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </dialog> 
                        </div>



                        <div class="p-5 border mt-3 billing_Totall d-flex">
                            <div class="col-lg-6">
                                <h6 class="fw-bold">Total </h6>
                                <h6 class="fw-bold">Discount </h6>
                                <h6 class="fw-bold">Shipping </h6>
                                <h6 class="fw-bold">Grant Total </h6>
                            </div>
                            <div class="col-lg-6">
                                <h6>: <span >₹ <span id="total_price"><%= total %></span></span></h6>
                                <h6>: <span >₹ <span id="discount_price">0</span></span></h6>
                                <h6>:<span> Free</span></h6>
                                <h6>: <span >₹<span id="grant_total"><%= total %></span></span></h6>
                            </div>
                        </div>
                        <div class="p-2 col-md-6 billing_button">
                            <button id="proceed-btn" class="btn btn-danger p-2" type="submit">
                               proceed
                            </button>
                            <div id="msg-display"></div>
                        </div>




                    </div>
                </div>
                <div id="success-container"></div>
                <%- include('../component/success.ejs') %>
            </div>
        </div>



    <dialog id="confirm-dialog">
        <div id="confirm-container"></div>
        <button id="cancel-btn">cancel</button>
        <button id="confirm-btn">confirm</button>
    </dialog>



    <dialog id="select-address-dialog">
        <h6>Select address</h6>
        <div class="select-address-container d-flex gap-3 flex-column p-3"></div>
        <button id="close-dialog-btn" class="btn btn-danger btn-sm">X</button>

        <button>add new one</button>
    </dialog>

    <template id="select-address-temp">
        <div class="address p-3">
            <span style="color: #9a9a9a; font-size: 13.5px;">
                <Span class="address-full-name"></Span>
                <Span class="address-house-name"></Span>
                <Span class="address-street"></Span>
                <Span class="address-city"></Span>
                <br>
                <Span class="address-phone"></Span>
                <Span class="address-pincode"></Span>
            </span>
        </div>
    </template>


    <template id="coupon-temp">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <li class="text-uppercase fw-bold coupon-no"></li>
            <li class="text-uppercase fw-bold coupon-name"></li>
            <li class=" fw-bold coupon-value"></li>
            <li class=" fw-bold coupon-expiry"></li>
        </div>
    </template>

    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script type="module" src="/js/user/checkout.mjs"></script>
    <%-include('../include/_footer.ejs') %>