<%- include('../include/_header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../include/navbar.ejs') %>
            <div class="container ">
                <div class="row p-4 mb-4">
                    <div class="container col-lg-3 col-md-3 col-12 p-3 m-0">
                        <div class="container bg-white profile_left p-5">
                            <div class="mb-4 d-flex flex-column">
                                <h6>Manage My Account</h6>
                                <a href="/profile" class="text-decoration-none">My Profile</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Orders</h6>
                                <a href="/profile/order" class="text-decoration-none">My Orders</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Address</h6>
                                <a href="/profile/address" class="text-decoration-none  text-danger">My Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-9 col-md-9 col-12 py-3 p-0 m-0">
                        <div class="container-fluid bg-white profile_Right p-4">
                            <div class="row px-3">
                                <div class="py-3 pt-4">
                                    <h5 class=" fw-bold">Edit Address</h5>
                                </div>
                                <div class="container p-0 m-0 px-1 pb-3">
                                    <div class="address_Form p-4">
                                        <form id="form" method="post">
                                            <div class="row d-flex">
                                                <div class="col-lg-6 col-12 d-flex flex-column p-2 gap-2 ">
                                                    <label for="">Full Name*</label>
                                                    <input value="<%= address.full_name %>" id="full_name" type="text" name="name" required>
                                                    <p class="err"></p>
                                                </div>
                                                <div class="col-lg-6 col-12 d-flex flex-column p-2 gap-2 ">
                                                    <label for="">House Name*</label>
                                                    <input value="<%= address.house_name %>" id="house_name" type="text" name="houseName" required>
                                                    <p class="err"></p>
                                                </div>
                                            </div>
                                            <div class="row d-flex">
                                                <div class="d-flex col-lg-6 col-12 flex-column p-2 gap-2 ">
                                                    <label for="">Street*</label>
                                                    <input value="<%= address.street %>" id="street" type="text" name="street" required>
                                                    <p class="err"></p>
                                                </div>
                                                <div class="d-flex col-lg-6 col-12 flex-column p-2 gap-2 ">
                                                    <label for="">City*</label>
                                                    <input value="<%= address.city %>" id="city" type="text" name="city" required>
                                                    <p class="err"></p>
                                                </div>
                                            </div>
                                            <div class="d-flex row">
                                                <div class="d-flex col-lg-6 flex-column p-2 gap-2 ">
                                                    <label for="">Phone*</label>
                                                    <input value="<%= address.phone %>" id="phone" type="number" name="phone" required>
                                                    <p class="err"></p>
                                                </div>
                                                <div class="d-flex col-lg-6 flex-column p-2 gap-2 ">
                                                    <label for="">pin*</label>
                                                    <input value="<%= address.pincode %>" id="pincode" type="number" name="postalCode" required>
                                                    <p class="err"></p>
                                                </div>
                                            </div>
                                            <div class="row f-flex align-items-end">
                                                <div class="p-2 col-lg-6 billing_button">
                                                    <button class="btn btn-danger p-2" type="submit">
                                                        Add New Address
                                                    </button>
                                                    <div id="msg-display"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script type="module" src="/js/user/edit_address.mjs"></script>
    <%-include('../include/_footer.ejs') %>