<%- include('../include/_header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../include/navbar.ejs') %>
        <div class="container ">
                <div class="row p-4 mb-4">
                    <div class="container col-lg-3 col-md-3 col-12 p-3 m-0">
                        <div class="container bg-white profile_left p-5">
                            <div class="mb-4 d-flex flex-column">
                                <h6>Manage My Account</h6>
                                <a href="/profile" class="text-decoration-none">My Profile</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Orders</h6>
                                <a href="/profile/order" class="text-decoration-none text-danger">My Orders</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Address</h6>
                                <a href="/profile/address" class="text-decoration-none ">My Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-9 col-md-9 col-12 py-3 p-0 m-0">
                        <div class="container-fluid bg-white profile_Right">
                            <div class="container summary d-flex align-items-center justify-content-between pt-3"
                                id="product">
                                <h6 class="p-3 ps-4">My Order</h6>
                            </div>
                            <div class="container  p-2 m-0 mb-2">
                                    <div class="Cart_list">
                                        <div class="px-2">
                                            <table style="width:100%;">
                                                <thead class="cartTop" style="position:sticky; top: 0; z-index: 1;">
                                                    <tr class="cart_table">
                                                        <th class="first p-3 px-4"><span>ID</span></th>
                                                        <th class="p-3"><span>Product</span></th>
                                                        <th class="p-3"><span>Status</span></th>
                                                        <th class="p-3"><span>Quantity</span></th>
                                                        <th class="p-3"><span>Price</span></th>
                                                        <th class="p-3"><span>Expected Date</span></th>
                                                        <th class="third p-3"><span>Order</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="order-tbody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                            <div class="container-fluid bg-white profile_Right p-4 mt-4">
                                <div class="p-3">
                                    <h5 class=" fw-bold">Order History</h5>
                                </div>
                                <div class="container  p-2 m-0 mb-2">
                                        <div class="Cart_list">
                                            <div class="px-2">
                                                <table style="width:100%;">
                                                    <thead class="cartTop" style="position:sticky; top: 0; z-index: 1;">
                                                        <tr class="cart_table">
                                                            <th class="first p-3 px-4"><span>ID</span></th>
                                                            <th class="p-3"><span>Product</span></th>
                                                            <th class="p-3"><span>Status</span></th>
                                                            <th class="p-3"><span>Quantity</span></th>
                                                            <th class="p-3"><span>Price</span></th>
                                                            <th class="third p-3"><span>Return Availability</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="order_hist_tbody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../component/orderedItemRow.ejs') %>
    <%- include('../component/my_order/history.ejs') %>
    <script type="module" src="/js/user/myOrder.mjs"></script>
    <%-include('../include/_footer.ejs') %>

    